body {
background: #3e4145; 

}

.midja {
  background: #2e3136;
  background: -webkit-linear-gradient(#27292e, #3c3d40);
  background:    -moz-linear-gradient(#27292e, #3c3d40);
  background:         linear-gradient(#27292e, #3c3d40);

}


.midjutexti {
  max-width: 60em;
  margin: 0 auto;
  color: #e7e7e7;
}


}

div.container4 {
  padding-top: 10px;
  padding-bottom: 10px;
  max-width: 60em;
  margin: 0 auto;
  text-align: center;

 }

}
header h1 a{
    border-top: 4px solid #FFF;
    text-decoration :none;
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 245px;
    
}

/*
  ========================================
  Clearfix
  ========================================
*/
.group:before,
.group:after {
  content: "";
  display: table;
}
.group:after {
  clear: both;
}
.group {
  clear: both;
  *zoom: 1;
}


a:hover.navigation ul{
	font: bold 11px "Helvetica Neue", Helvetica, Arial, sans-seriff;
	margin: 0;
	padding: 0;
	text-transform: uppercase;
}
.navigation li{
	display: inline-block;
	font-size:1.2em;
}
.navigation a{
	color: #fff;
	padding: 12px 20px;
	text-decoration: none;
}
.navigation a:hover{
	box-shadow: inset 0 0 10px 1px rgba(0, 0, 0, .3);
	background:linear-gradient(#00FF00,#FF0000)
}
footer{
	display:inline;
}
.paragraph{
	font-size:1.2em;
}   